.contentRecents{
    padding-inline: 1rem;
}

.contentRecents i{
    color: var(--gray10);
}

.contentRecents a{
    color: var(--gray10);
    
}



.contentRecents-button{
    background-color:var(--gray50);
    border: none;
    cursor: pointer;
}

.contentRecents-button:hover a {
    color: var(--white);

}

.contentRecents-button:hover i {
    color: var(--white);
}



