@import"./list-button.css";
@import"./list-search.css";
@import"./content-recents.css";

.list{
    padding-inline-start: 1rem;
    border: 1px solid rgba(0, 0, 0, 0);
    /* padding-inline-end: 1.5rem; */
    /* border: 1px solid blue; */
    /* background: var(--gray10); */

}

.list-content {
    padding: 0;
    margin-inline-start: -10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    /* gap: .5rem; */
    /* border: 1px solid blue; */


}

.list-item {
    display: flex;
    border-radius: .5rem;
    /* border: 1px solid red; */
    max-inline-size: 25rem;
    
    transition: background-color 0.5s ease;
}

.list-item:hover{
    background: var(--gray40);
}


.list-item a {
    padding: .3rem;
    /* border: 1px solid green; */
    display: flex;
    flex: 1;
    gap: 1rem;
    text-decoration: none;
    
}


.list-item img{
    /* overflow: hidden; */
    inline-size: 3.125rem;
    block-size: 3.125rem;
    border-radius: .5rem;


}

.list-title {
    /* border: 1px solid yellow; */
    line-height: 0;
}

.list-title h3{
    font: var(--basefont-bold);
    color: var(--white);
    line-height: 0;

}

.list-title h4{
    font: var(--basefont-normal);
    color: var(--gray10);
    line-height: 0;


}

.list-title h4::before {
    content: "·"; /* Agrega el carácter "·" como contenido antes del texto del h3 */
    font: var(--basefont-bold);
    line-height: 0;
}



/* .list-item::after {
    border: 1px solid blue;

    content: ""; 
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent; 
    transition: background-color 0.3s; 
    border-radius: 8px;
} */
