.menuItem{


}

.menuItem a {
    /* border: 1px solid saddlebrown; */

    display: flex;
    font: var(--basefont-bold);
    font-size: 16px;
    padding-inline-start: 1.5rem;
    padding-inline-end: 1.5rem;
    block-size: 2.75rem;
    /* line-height: 2.5rem; */
    align-items: center;
    gap: 1.25rem;
    color: var(--gray20);
}

.menuItem a:hover {
    color: var(--white);
    transition: color 0.5s;
}

.menuItem [class^="icon-"] {
    font-size: 1.5rem;
}

.menuItem.is-active a {
    box-shadow: inset 4px 0 0 var(--primary);
    color: var(--white);
    transition: color 0.5s;
}

.menuItem.is-active .icon-home::before {
    content: "\e90c";

}

.menuItem.is-active .icon-search::before {
    content: "\e914";

}

.menuItem.is-active .icon-creditCard::before {
    content: "\e90a";

}