.nowPlaying{
    /* border: 1px solid saddlebrown; */
    display: flex;
    gap: .5rem;
}

.nowPlaying-cover img{
    inline-size: 3.5rem;
    block-size: 3.5rem;

    vertical-align: top;
    border-radius: 8px;
}

.nowPlaying-details{
    display: flex;
    gap: .5rem;
    align-items: center;
}

.nowPlaying-title{
    font: var(--basefont-bold);
    color: var(--white);
    text-decoration: none;
    display: block;
}

.nowPlaying-artist{
    text-decoration: none;
    font: var(--smallfont);
    color: var(--gray10);
}

.nowPlaying-artist:hover, .nowPlaying-title:hover{
    text-decoration: underline;
    /* color: var(--white); */

}


.nowPlaying-actions button{
    cursor: pointer;
}

.likedList-date button{
    cursor: pointer;
}