.playerVolume{
    /* border: 1px solid salmon; */
    display: flex;
    align-items: center;
}

.playerVolume-slider{
    /* border: 1px solid salmon; */
    flex: 1;
    max-inline-size: 6rem;

}