.playerPlayback{
    display: flex;
    /* border: 1px solid saddlebrown; */
    color: aliceblue;
    gap: 0.5rem;
    align-items: center;

}

.playerPlayback-slider{
    flex: 1;
}

.playerPlayback-progressTime{
    /* border: 1px solid seashell; */
    line-height: 1;
    position: relative;
    /* top: 1px; */
    font: var(--smallfont);

}