.searchtList-title{
    color: var(--white);
    font: var(--headline2);
    margin: .5rem;
}

.searchtList-top{
    /* border: 2px solid seagreen; */
}


.searchList{
    /* border: 2px solid saddlebrown; */
    padding-inline:1.5rem ;
}

.searchList-container{
    /* border: 2px solid blue; */
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
    max-inline-size: 2100px;
    /* flex: 1; */
}

.searchlistGrid{
    /* border: 2px solid red; */
    background-color: rgb(63, 66, 66);
    display: flex;
    flex-grow: 1;
    /* flex-basis: auto; */
    /* flex-shrink: 12.4rem; */
    flex-direction: column;
    border-radius: .5rem;

    block-size: 12.5rem;
    inline-size: 11rem;
    overflow: hidden;

    cursor: pointer;
}

.searchlistGrid img:nth-of-type(1){
    align-self: flex-end;
    margin-block-start: 40px;
    margin-inline-end: -10px;
    transform: rotate(25deg);
}

.searchlistGrid-cover{
    /* border: 2px solid purple; */
    block-size: 5rem;
    inline-size: 10rem;
    align-self: center;

}

.searchlistGrid-cover h3{
    text-align: center;
    font: var(--headline2);
}


.searchlistGrid img{
    block-size: 5rem;
    inline-size: 5rem;
}



.searchlistGrid-title{
    color: var(--white);
}


.color-1{
    background-image: linear-gradient(to bottom, rgba(0, 255, 255, 0.514), #0026ff8e);
}
.color-2{
    background-image: linear-gradient(to bottom, rgba(13, 168, 104, 0.692),rgba(0, 255, 42, 0.829));
}
.color-3{
    background-image: linear-gradient(to bottom, rgba(153, 0, 255, 0.719), #ea00ffd7);
}
.color-4{
    background-image: linear-gradient(to bottom, rgba(13, 168, 104, 0.692),rgba(0, 255, 255, 0.918));
}
.color-5{
    background-image: linear-gradient(to bottom, rgba(49, 110, 8, 0.548), #021a028e);
}
.color-6{
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.849), rgba(105, 33, 4, 0.712));
}
.color-7{
    background-image: linear-gradient(to bottom, rgba(241, 227, 19, 0.959), #ff7300f5);
}
.color-8{
    background-image: linear-gradient(to bottom, rgba(255, 0, 212, 0.993), #9900ffc4);
}
.color-9{
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.973), #5f0202d0);
}
.color-10{
    background-image: linear-gradient(to bottom, rgba(0, 217, 255, 0.904), #061debcb);
}
.color-11{
    background-image: linear-gradient(to bottom, rgba(183, 0, 255, 0.904), #3a03478e);

}

