@import "./logo.css";
@import "./menu.css";
@import "./list.css";
@import "./navigation-button.css";


.sidebar {
    /* border: 1px solid blue; */
    
    /* background-color: var(--gray60); */
    border-radius: .5rem; 
    display: flex;
    flex-direction: column;
    gap: .5rem;
    /* padding-block-start: 1.5rem ; */
    /* padding-block-end: 1rem; */

}

.sidebar .list-item:hover::after {
    background-color: var(--gray20);
    border-radius: 8px;
}


.contentMenu{
    /* border: 1px solid saddlebrown; */
    border-radius: .5rem;
    background: var(--gray50);
    padding-block: .5rem;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 600px; */
}
