.topButton{
    /* border: 1px solid saddlebrown; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.topButton a{
    color: var(--white);
    text-decoration: none;
}

.topButton a:hover{
    color: var(--white);

}

.topButton button {
    color: var(--white);
    border: none;
    background: rgba(0, 0, 0, 0.493);
    cursor: pointer;
}

.topButton button:hover {
    color: var(--white);
    transform: scale(1.05); 
}

.topButton-download{
    border-radius: 1rem;
    padding: 6px;
    font: var(--basefont-bold);
    display: flex;
    justify-content: center;
}

.topButton-download i {
    font-size: 20px;
    margin-inline-end: 4px;
}



.topButton-spotify{
    inline-size: 1.875rem;
    block-size: 1.875rem;
    border-radius: 50%;

}

.topButton-spotify i{
    font-size: 20px;
    position: relative;
    bottom: -.5px;
    left: -1px;
}

.topButton-account{
    border-radius: 50%;
    inline-size: 1.875rem;
    block-size: 1.875rem;
    overflow: hidden;
}

.topButton-account img {
    position: relative;
    left: -1px;
    bottom: -1.5px;
    border-radius: 50%;
    width: 20px; 
    height: 20px; 
}